{% extends "auctions/layout.html" %}

{% block body %}
<div class="subhead"><h3>Create Listing</h3></div>
    <div class="listing_body">
    {% if message %}
        <p style="font-size: 16px; color:rgb(84, 51, 124);">{{ message }}</p>
    {% endif %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="create_form">
        {{ listing_form.as_p }}
        </div>
        <br><br><br><br><br><br><br><br>
        <input style="font-size: 18px;" type="submit" value="Submit Listing">
    </form>
    </div>
{% endblock %}