{% extends "auctions/layout.html" %}

{% block body %}
    <div class="subhead"><h3>Active Listings</h3></div>

    <div class="container">
        {% for listing in active_listings %}
        <div class="item">
            <div><a href="{% url 'listing' listing.0.id %}">{{ listing.0.title }}<br>
                <img class="item_img" src="{{ listing.0.pic }}"/></a></div>
            <div id="description"> {{ listing.0.description }}</div>
            <div>Current price: ${{ listing.1 }}</div>
        </div>
        {% empty %}
            <div>No active listings yet...</div>
        {% endfor %}
    </div>

{% endblock %}